{
  "presets": [
    [
      "es2015",
      {
        "es2015": {
          "loose": true,
          "modules": false
        }
      }
    ],
    "env",
    "stage-0",
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-class-properties"
  ]
}
